@import "../../../../themes/styles-default";

@import "../../../../themes/white-label";

#header {
  position: relative;
  width: 100%;
  background-color: var(--colorWhiteHover);
  box-sizing: border-box;
  padding: 30px 30px 20px 30px;

  * {
    outline: none;
  }

  h1 {
    font-family: $montserratBold;
    font-size: 32px;
    color: var(--colorBlue);
    margin: 0 0 5px 0;
  }

  h2 {
    font-family: $montserratLight;
    font-size: 14px;
    color: var(--colorGray);
    margin: 0;
  }

  button {
    position: absolute;
    top: 30px;
    right: 30px;
    background-color: var(--colorBlue);
    color: var(--colorWhite);
    border: none;
  }
}
