$montserratLight: 'montserrat-light';
$montserratRegular: 'montserrat-regular';
$montserratBold: 'montserrat-bold';

$robotoBold: 'roboto-bold';
$robotoLight: 'roboto-light';
$robotoRegular: 'roboto-regular';

@mixin transition($time) {
  -webkit-transition: $time ease-in-out;
  -moz-transition: $time ease-in-out;
  -ms-transition: $time ease-in-out;
  -o-transition: $time ease-in-out;
  transition: $time ease-in-out;
}

@mixin transitionWidth($time) {
  -webkit-transition: width $time ease-in-out;
  -moz-transition: width $time ease-in-out;
  -ms-transition: width $time ease-in-out;
  -o-transition: width $time ease-in-out;
  transition: width $time ease-in-out;
}

@mixin transitionHeight($time) {
  -webkit-transition: height $time ease-in-out;
  -moz-transition: height $time ease-in-out;
  -ms-transition: height $time ease-in-out;
  -o-transition: height $time ease-in-out;
  transition: height $time ease-in-out;
}

@mixin transitionLeft($time) {
  -webkit-transition: left $time ease-in-out;
  -moz-transition: left $time ease-in-out;
  -ms-transition: left $time ease-in-out;
  -o-transition: left $time ease-in-out;
  transition: left $time ease-in-out;
}

@mixin transitionDelay($time) {
  -webkit-transition-delay: $time;
  -moz-transition-delay: $time;
  -ms-transition-delay: $time;
  -o-transition-delay: $time;
  transition-delay: $time;
}

@mixin rotate($value) {
  transform: rotate($value);
  -webkit-transform: rotate($value);
  -moz-transform: rotate($value);
  -o-transform: rotate($value);
  -ms-transform: rotate($value);
}

@mixin transform-origin($value) {
  transform-origin: $value;
  -webkit-transform-origin: $value;
  -moz-transform-origin: $value;
  -o-transform-origin: $value;
  -ms-transform-origin: $value;
}

@mixin border-top-left-radius($value) {
  -webkit-border-top-left-radius: $value;
  -moz-border-radius-topleft: $value;
  border-top-left-radius: $value;
}

@mixin border-top-right-radius($value) {
  -webkit-border-top-right-radius: $value;
  -moz-border-radius-topright: $value;
  border-top-right-radius: $value;
}

@mixin border-bottom-left-radius($value) {
  -webkit-border-bottom-left-radius: $value;
  -moz-border-radius-bottomleft: $value;
  border-bottom-left-radius: $value;
}

@mixin border-bottom-right-radius($value) {
  -webkit-border-bottom-right-radius: $value;
  -moz-border-radius-bottomright: $value;
  border-bottom-right-radius: $value;
}

@mixin border-radius($value) {
  -webkit-border-radius: $value;
  -moz-border-radius: $value;
  border-radius: $value;
}

@mixin translate($left, $top) {
  transform: translate($left, $top);
  -webkit-transform: translate($left, $top);
  -moz-transform: translate($left, $top);
  -o-transform: translate($left, $top);
  -ms-transform: translate($left, $top);
}

@mixin translate-rotate($left, $top, $value) {
  transform: translate($left, $top) rotate($value);
  -webkit-transform: translate($left, $top) rotate($value);
  -moz-transform: translate($left, $top) rotate($value);
  -o-transform: translate($left, $top) rotate($value);
  -ms-transform: translate($left, $top) rotate($value);
}

@mixin user-select($value) {
  -webkit-user-select: $value;
  -moz-user-select: $value;
  -ms-user-select: $value;
  user-select: $value;
}

@mixin box-shadow($hor, $ver, $dis, $opa) {
  -webkit-box-shadow: $hor $ver $dis 0px rgba(0, 0, 0, $opa);
  -moz-box-shadow:    $hor $ver $dis 0px rgba(0, 0, 0, $opa);
  -ms-box-shadow:     $hor $ver $dis 0px rgba(0, 0, 0, $opa);
  box-shadow:         $hor $ver $dis 0px rgba(0, 0, 0, $opa);
}

@-webkit-keyframes initMenu {
  0%   { width: 0px; }
  100% { width: 72px; }
}
@-moz-keyframes initMenu {
  0%   { width: 0px; }
  100% { width: 72px; }
}
@-o-keyframes initMenu {
  0%   { width: 0px; }
  100% { width: 72px; }
}
@keyframes initMenu {
  0%   { width: 0px; }
  100% { width: 72px; }
}

@-webkit-keyframes initHeader {
  0%   { top: -30px; }
  100% { top: 0px; }
}
@-moz-keyframes initHeader {
  0%   { top: -30px; }
  100% { top: 0px; }
}
@-o-keyframes initHeader {
  0%   { top: -30px; }
  100% { top: 0px; }
}
@keyframes initHeader {
  0%   { top: -30px; }
  100% { top: 0px; }
}
