@import '../../themes/white-label';

#bot-market {
  width: 100%;
  height: 100%;

  .menu {
    position: relative;
    display: inline-block;
    width: 72px;
    min-height: 100%;
    background-color: var(--colorWhite);
  }

  .content {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 72px);
    height: 100vh;
    background-color: var(--colorWhiteHover);
    overflow-x: hidden;
    overflow-y: auto;
  }
}
